

<title>Login</title>

<div class="font-mono">
<div class="flex h-screen">
    <img class="w-1/2 hidden lg:block" src="assets/naruto1.jpg">
    <div class="flex flex-col justify-center items-center w-full lg:w-1/2 ">
        <!-- <h1 class="text-center bg-orange-400">t</h1> -->
<div >
 <div class="text-xl text-center font-bold lg:text-left">
    <span class="text-green-600">&#9650;</span>
    <span> AngularJS!!!</span>
 </div>
 <div class="text-3xl text-center font-bold lg:text-left">
    <h2>Hello,</h2>
    <h2>Welcome BAck</h2>
 </div>

 <div  class="mt-8 w-[80%] lg:w-96  mx-auto space-y-4">
       <h4>Login to Manage your account.</h4>
       <input  class="border w-full px-4 py-2 " type="email" #email placeholder="Enter Your Email">
       <input  class="border w-full px-4 py-2 mt-5" type="password" #password placeholder="Enter Your Password">
       <div class="text-blue-500 cursor-pointer hover:text-blue-700"><span routerLink="/forgot-password" (click)="ntofpage()">Forgot Your Password</span></div>
       <button (click)="authService.SignIn(email.value, password.value)" class="w-full bg-green-400 text-white font-bold hover:bg-green-600 py-2 rounded">Login</button>






 </div>
</div>
 <div class="text-center space-y-4 mt-4">
    <span>OR</span>
    <div class="flex justify-center items-center gap-8">
      <i (click)="authService.SignUpWithGoogle()" class="fa-brands fa-google text-3xl cursor-pointer opacity-30 hover:opacity-100"></i>

<i class="fa-brands fa-facebook text-3xl cursor-pointer"></i>
<i class="fa-brands fa-instagram text-3xl cursor-pointer"></i>


    </div>
 </div>
 <div class="mt-4 text-sm text-center cursor-pointer"><span >
    Don't have account ? <a (click)="navigatetosignup()" class="text-blue-600 cursor-pointer hover:text-blue-400">
        Sign up here  </a></span>
  
 </div>
    </div>
</div>

</div>
