

<div class="font-mono">
  <div class="flex h-screen w-screen justify-center items-center">
    <div class="authBlock max-w-3xl p-4 px-7 border rounded container bg-green-300">
      <h1>Thank You for Registering</h1>
      <h2 class="text-3xl font-bold mb-4">Verification Email Sent</h2>
      <p class="mb-4">A verification email has been sent to your email address.</p>
      <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
        <i class="fas fa-redo-alt"></i>
        Resend Verification Email
      </button>
      <button class="border border-black px-4 py-2 rounded text-black font-bold bg-green-400 hover:bg-green-600" (click)="navigateToLogin()">Close</button>
    </div>
  </div>
</div>